$Foundation-Secondary: #7d9caa;
$Foundation-Primary-A: #2b6b5c;
$Foundation-Primary-B: #1e3844;

$Hover-Light-accent: #f7fcfb;
$Hover-Light-Secondary-A: #5a7a88;
$Hover-Light-Primary-A: #3e8373;
$Hover-Light-Primary-B: #3b5a68;

$Foundation-Interactive-Negative: #e15952;
$Foundation-Interactive-Positive: #3e8373;

$color-white: #ffffff;

$gray-10: #fbfbfb;
$gray-20: #f5f5f5;
$gray-30: #ebebeb;
$gray-40: #dddddd;
$gray-50: #bebdbd;
$gray-60: #959292;
$gray-70: #706c6c;
$gray-80: #404040;
$gray-90: #292929;
$gray-100: #262627;
